<footer class="text-center text-white" style="background-color: #0a4275">
   
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Mam'Mam Copyright Juin2022:
      <a class="text-white" href="#!">Miora Andriamihaingo</a>
    </div>
    <!-- Copyright -->
  </footer>
