<div class="row">
    <div class="column alert alert-info">
        <strong>{{infoconnexion}}</strong>
    </div>
    <div class="column">
        <button (click)="deconnex()" routerLink="/login" class="btn btn-danger">DECONNEXION</button>
    </div>

</div>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel" style="background-color: #0a4275">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">


            <img src="/assets/images/i3.jpg" alt="1" class="d-block w-100">

        </div>
        <div class="carousel-item">
            <div class="container">

                <img src="/assets/images/bebivita-pot-macaroni.jpg" alt="2" class="d-block w-100">

            </div>
        </div>
        <div class="carousel-item">
            <div class="container">

                <img src="/assets/images/i5.jpg" alt="3" class="d-block w-100">

            </div>
        </div>
        <div class="carousel-item">
            <div class="container">

                <img src="/assets/images/babybio-lait-de-croissance.jpg" alt="4" class="d-block w-100">

            </div>
        </div>
        <div class="carousel-item">
            <div class="container">

                <img src="/assets/images/i11.webp" alt="5" class="d-block w-100">

            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </button>
</div>