<div class="alert alert-warning">
    <strong>{{messageconnexion}}</strong> 
  </div>
  
  <section class="vh-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-white">
    
            <div class="px-5 ms-xl-4">
              <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
              <span class="h1 fw-bold mb-0">Authentification</span>
            </div>
    
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
    
              <form style="width: 23rem;">
  
    
                <div class="form-outline mb-4">
                  <input type="email" name = "mail" [(ngModel)]="user.mail"  id="form2Example18" class="form-control form-control-lg" placeholder="Adresse-mail"/>
                  <label class="form-label" for="form2Example18"></label>
                </div>
    
                <div class="form-outline mb-4">
                  <input type="password" name = "mdp" [(ngModel)]="user.mdp" id="form2Example28" class="form-control form-control-lg" placeholder="Mot de passe" />
                  <label class="form-label" for="form2Example28"></label>
                </div>
    
                <div class="pt-1 mb-4">
                  <button class="btn btn-info btn-lg btn-block" type="button"  (click)="login()">Se connecter</button>
                </div>
    
                <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Mot de passe oublié?</a></p>
                <p>Pas encore de compte? <a href="#!" class="link-info">Enregistrez-vous ici</a></p>
    
              </form>
    
            </div>
    
          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="/assets/images/i2.jpg"
              alt="Login image" class="w-80 vh-80" style="object-fit: cover; object-position: left;">
          </div>
        </div>
      </div>
    </section>
