* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    margin: 0 -5px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 20%;
    padding: 5px;
  }

  .bgColor{
    background-color:#bcdeff;
  }

  .card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #bcdeff;
  }