<app-header></app-header>
<style>
    /* Default height for small devices */
    #intro-example {
        height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
        #intro-example {
            height: 700px;
        }
    }

    .bg-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<div id="intro-example" class="bg-image" style="background-image: url('/assets/images/i11.webp');">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7); background-size: auto;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-white" style = "-ms-text-size-adjust: auto;">
                <h1 class="mb-3"></h1>
                
               
                <router-outlet></router-outlet>
                <pre>







                    


















                    






















                </pre>
            </div>
        </div>
    </div>
</div>

<!-- <div>


    <div class="bg-image shadow-1-strong rounded">
        <img src="/assets/images/i5.jpg" class="img-fluid" alt="Responsive image">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white mb-0" >
                    <h1 class="mb-3">Mam'Mam</h1>
                    <h5 class="mb-4">Bienvenue sur notre site de vente de produits alimentaires pour les tout-petits!
                    </h5>
                    <button (click)="m1()" class="btn btn-outline-light btn-rounded btn-lg m-2">Nos produits</button>
                    <button type="button" routerLink="/login" class="btn btn-outline-light btn-rounded btn-lg m-2">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-footer></app-footer>