<!-- <nav class="navbar navbar-expand-lg navbar-light text-white" style="background-color: #7fe3fc">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mam'Mam</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prod">Nos produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
      <form class="d-flex input-group w-auto">
        <input type="search" class="form-control" placeholder="Saisir une requête" aria-label="Search" />
        <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">
          Search
        </button>
      </form>
    </div>
  </div>
</nav> -->

<html lang="en">

<head>
  <title>Mam'Mam</title>
  <h5 class="mb-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><i>"Bien manger pour
      bien grandir!"</i></h5>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>



  <div class="p-5 text-white text-center" style="background-color: #0a4275;">
    <h1>Projet Final</h1>

  </div>

  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #04305a;">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Mam'Mam</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/findallarticles">Nos produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        
      </ul>
      <form class="d-flex w-auto">

        <p> class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </p>
        <button class="info"><strong>{{infoconnexion}}</strong></button>

        <button (click)="deconnex()" routerLink="/login" class="btn btn-outline-danger">DECONNEXION</button>
      </form>
    </div>
  </nav>